.container-home-page {

    width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;

    @media (max-width: 768px) {
        left: 0;
    }

    .container-type-location {
        display: grid;
        margin-top: 50px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        width: 90vw;
        margin-left: 50px;
        margin-bottom: 50px;

        div {
            display: flex;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            width: 150px;
            height: 40px;
            transition: .5s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }


    h1 {
        font-size: 3em;
        align-self: center;
        font-weight: bold;
        font-family: 'Inter', serif;
        transition: .7s;
        transform: translateY(-500px);
        margin-left: 50px;
        padding-left: 20px;


        @media (max-width: 768px) {
            margin-left: 20px;
        }

    }

    h3 {
        font-size: 1.2em;
        font-weight: bold;
        align-self: start;
        margin-left: 10%;
        font-family: 'Inter', serif;
    }


    .container-last-location, .container-last-services {
        width: 90vw;
        height: 350px;
        overflow: hidden;
        font-family: 'Inter', serif;
        margin-top: 20px;
        overflow-x: scroll;
        justify-content: start;
        position: relative;
        margin-left: 200px;
        white-space: nowrap;
        scrollbar-width: none;

        .card {
            display: inline-block;
        }
    }

}