.container-resa {
    width: calc(100% - 50px);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50px;


    h2 {
        font-size: 2rem;
        font-family: 'Inter', sans-serif;
        margin-top: 50px;
    }

}