.container-ticket {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100vw - 50px);
    margin-left: 50px;


    h2 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 20px;
        font-family: 'Inter', sans-serif;

        @media (max-width: 768px) {
            margin-left: 20px;
        }

    }

    .ticket-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 150px;
        margin-bottom: 50px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 10px 50px 0 rgba(#05043e, .25);
        width: 500px;
        height: 40vh;
        transition: 1s;


        @media (max-width: 768px) {
            margin-left: -15vw;
            width: 85vw;
        }

        &:hover {
            box-shadow: 0 10px 50px 0 rgba(#05043e, .5);
            cursor: pointer;
        }


        input, textarea {
            width: 50%;
            height: 40px;
            margin-bottom: 20px;
            padding: 10px;
            border: none;
            border-radius: 5px;
            outline: none;
        }

        button {
            width: 150px;
            height: 50px;
            border: 0;
            border-radius: 10px;
            background-color: #fff;
            color: #000;
            font-weight: bold;
            cursor: pointer;
            transition: .2s;
            margin-top: 50px;

            &:hover {
                background-color: $primaryColor;
                color: #fff;
            }
        }

    }

}