.container-service {
    width: calc(100vw - 50px);
    position: absolute;
    top: 0;
    left: 50px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
        left: 0;
    }


    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 30%;
        transition: .5s;

        @media (max-width: 768px) {
            width: 80vw;
            margin-left: 50px;
        }

        &:hover {
            box-shadow: 0 10px 50px 0 rgba(#05043e, .25);
        }


        input {
            width: 50%;
            height: 40px;
            border: none;
            outline: none;
            border-radius: 5px;
            padding: 0 20px;
            margin: 10px 0;
        }

        button {
            width: 20%;
            height: 40px;
            border: none;
            outline: none;
            border-radius: 5px;
            background: $primaryColor;
            color: #fff;
            cursor: pointer;
            transition: .3s;
            margin: 10px 0;
            font-family: 'Inter', sans-serif;

            &:hover {
                background: $secondaryColor;
            }
        }


    }

}