.pop-up {
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 300px;
    height: 100px;
    border-radius: 20px;
    transition: 1s;
    background-color: $secondaryColor;
    transform: translateX(-350px);
    display: flex;
    justify-content: center;
    align-items: center;

    .close {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 1.5em;
        color: $colorTheme;
        cursor: pointer;
    }

    h3 {
        color: $colorTheme;
        font-size: 1em;
    }
}